body {
    box-shadow: 2px 2px 4px darkmagenta;
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    background-image: url(lollipop_4444GIF.gif);
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 110dvh;
    max-width: 100dvh;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    background-position: center;
    
    }
  
    h1{ 
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px gold;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    background-image: url(lollipop_4444GIF.gif);
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 10px gold;
    border-radius: 100%;
    
    
     }
    h1 span ion-icon{
     color: rgb(255, 253, 222);
     border-bottom: 2px solid gold;
     box-shadow: 2px 4px 6px darkmagenta;
     border-radius: 50px;
     background-image: url(lollipop_3GIF.gif);
     background-size: cover;
     background-color: transparent;

      }
      h1 span ion-icon:hover{
        color: darkmagenta;
        text-shadow: 3px 2px 5px gold;
        box-shadow: 3px 3px 10px darkmagenta;
 
      }
     h1:hover{
     color: darkmagenta;
     text-shadow: 3px 2px 5px gold;
       }
       form {
    box-shadow: 2px 4px 6px darkmagenta;
    border: 2px solid gold;
    background-position: bottom;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 30px;
    
}
label {
    display: block;
    margin-bottom: 5px;
}

 #submit{
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 40vh;
     padding: 5px;
     border-radius: 20px;
     background-color: #151618;
     background-image: url(MusicGig.gif);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     text-decoration: none;
     cursor: pointer;
     font-weight: bold;
     font-size: 30px;
     margin-top: 10px;
     margin-bottom: 10px;
     text-shadow: 2px 2px 4px gold;
     border: 4px solid gold;
     box-shadow: 2px 2px 10px darkmagenta;
     
     
 }
 #submit:hover{
    color: darkmagenta;
    text-shadow: 2px 2px 10px gold;
 }
 #jj{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: darkmagenta;
    text-shadow: 2px 2px 10px gold;
    
 }

 p{
    color: white;
 }
 p, a{
     text-shadow: 2px 2px 4px gold;
 }
 p, a:hover{
     color: gold;
     text-shadow: 2px 2px 10px darkmagenta;
 }
 h3{
    color: whitesmoke;
    text-shadow: 2px 2px 4px gold;
 }
 h3:hover{
     color: darkmagenta;
     text-shadow: 3px 2px 5px gold;
 }
 
 
