*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}


body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   margin: 0% auto;
   background: linear-gradient(to right, black,black,darkblue,maroon,black,black);
   height: auto;
   background-position: center;
   padding: 10px;
   }
   body.light{
       background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
   }
span{
   color: rgba(245, 222, 179, 0.795);
}
body.light span{
   color: darkgoldenrod;
}

.login-container {
   margin: 0% auto;
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 370px;
   margin-top: 20px;
   padding: 10px;
   border-radius: 40px;
   box-shadow: 0px 2px 20px lightskyblue;
   background-color: rgba(0, 0, 0, 0.164);
   border: 6px solid rgba(72, 0, 139, 0.534);
}
body.light .login-container{
   box-shadow: 0px 2px 10px yellowgreen;
   background-color: rgba(0, 0, 0, 0.308);
   border: 4px solid rgb(139, 0, 97);
}
.music-player-container{
   margin: 0% auto;
   text-align: center;
   padding: 25px;
}

input {
   margin: 0% auto;
   text-align: center;
   padding: 10px;
   margin: 10px 0;
   width: 100%;
   border: 2px solid lightskyblue;
   border-radius: 5px;
}
input:focus{
   background-color: lightskyblue;
}
body.light input{
   border: 2px solid gold;
}
.login-btn{
   margin: 0% auto;
   padding: 10px;
   background-color: rgba(72, 0, 139, 0.534);
   color: white;
   border: none;
   border: 1px solid lightskyblue;
   border-radius: 10px;
   cursor: pointer;
   width: 50%;
}
.login-btn:hover {
   background-color: darkblue;
}
body.light .login-btn{
   background-color: rgba(105, 2, 74, 0.774);
   border: 1px solid yellowgreen;
}
#show-register{
   margin: 0% auto;
   padding: 10px;
   margin: 10px;
   background-color: rgba(72, 0, 139, 0.534);
   border: 6px solid ;
   color: white;
   border: none;
   border-radius: 100%;
   border: 1px solid rgba(245, 222, 179, 0.801);
   box-shadow: 0px 2px 6px rgba(135, 206, 250, 0.815);
   cursor: pointer;
   width: 80%;
   cursor: pointer;
}
body.light #show-register{
   background-color: rgba(97, 3, 69, 0.774);
   box-shadow: 0px 2px 6px rgba(153, 205, 50, 0.808);
   border: 2px solid yellowgreen;
}
#show-register:hover {
   background-color: darkblue;
}
body.light #show-register:hover {
   background-color: darkblue;
}

/* Same as before for body and login container */
.register-container {
   margin: 0% auto;
   padding: 10px;
   width: 370px;
   margin-top: 10px;
   text-align: center;
   background: rgba(104, 2, 41, 0.274);
   padding: 30px;
   border-radius: 40px;
   box-shadow: 0px 2px 15px rgba(153, 205, 50, 0.849);
   border: 6px solid rgba(104, 2, 41, 0.356);
}
.Register-btn{
  border: none; 
  background-color: rgb(30, 30, 185);
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid  rgba(153, 205, 50, 0.781);
  cursor: pointer;
}
.Register-btn:hover{
   background-color: darkblue;
}
h2{ 
   font-size: 40px;
   margin-bottom: 10px;
   color: white;
   text-shadow: 2px 2px 4px gold;
   display: flex;
   justify-content: center;
   letter-spacing: 2px;
   background-image: url(MusicGig.gif);
   background-position: top;
   background-size: cover;
   box-shadow: 0px 2px 6px rgba(135, 206, 250, 0.829);
   border-radius: 100%;
   border: 6px solid rgba(72, 0, 139, 0.534);
   cursor: pointer;
   
   
    }
   h2 ion-icon{
    color: rgba(255, 217, 0, 0.705);
    border-bottom: 2px solid gold;
    box-shadow: 2px 4px 6px maroon;
    border-radius: 50px;
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-color: transparent;

     }
     body.light h2{
       border: 4px solid rgba(139, 0, 97, 0.774);
       box-shadow: 0px 2px 6px rgba(153, 205, 50, 0.822);
     }
 
   h1{ 
   margin: 0% auto;
   font-size: 50px;
   margin-bottom: 15px;
   color: white;
   text-shadow: 2px 2px 4px gold;
   display: flex;
   justify-content: center;
   letter-spacing: 2px;
   background-image: url(MusicGig.gif);
   background-position: top;
   background-size: cover;
   box-shadow: 0px 2px 6px rgba(135, 206, 250, 0.808);
   border-radius: 100%;
   border: 4px solid rgba(206, 20, 20, 0.582);
   cursor: pointer;
   
   
    }
   h1 span ion-icon{
    color: rgba(255, 217, 0, 0.705);
    border-bottom: 2px solid gold;
    box-shadow: 2px 4px 6px maroon;
    border-radius: 50px;
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-color: transparent;

     }
   body.light h1{
       border: 6px solid rgba(21, 21, 134, 0.555);
       box-shadow: 0px 2px 10px rgba(153, 205, 50, 0.822);
   }
    
   form {
   margin: 0 auto;
   margin-bottom: 15px;
   box-shadow: 0px 2px 10px lightskyblue;
   width: 100%;
   max-width: 300px;
   padding: 20px;
   border-radius: 30px;
   background-color: transparent;
   
   }
   body.light form{
       box-shadow: 0px 2px 10px yellowgreen; 
   }

   .button{
       color: white;
       text-shadow: 2px 2px 4px gold;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 30px;
       border: 6px solid maroon;
       padding: 1px 40px;
       border-radius: 100%;
       background-image: url(MusicGig.gif);
       background-position: center;
       background-size: cover;
       box-shadow: 2px 2px 10px lightseagreen;
       cursor: pointer;
   }

   .button:hover{
   color: rgba(216, 112, 147, 0.685);
   text-shadow: 2px 2px 10px black;
   border: 6px solid gold;
   box-shadow: 2px 2px 10px lightblue;
   transform: scale(1.10);
   transition: 0.8s;
   border-radius: 10px;
   background-image: url(MuahPic.gif);
   background-position: center;
   background-size: cover;
}
#jj{
   font-size: 15px;
   font-style: italic;
   font-weight: bold;
   color: wheat;
   text-shadow: 2px 2px 10px darkblue;
   margin-bottom: 10px;
   
}
body.light #jj{
   color: maroon;
   text-shadow: 2px 2px 10px gold;
}
#jj2{
   font-size: 15px;
   font-style: italic;
   font-weight: bold;
   color: wheat;
   text-shadow: 2px 2px 10px darkblue;
}
body.light #jj2{
   color: maroon;
   text-shadow: 2px 2px 10px gold;
}
 #jj span{
   color: rgba(177, 131, 16, 0.925);
   border-radius: 100px;
   background: linear-gradient(to right, black,black,black,darkblue,lightgreen,maroon,black,black,black);
   background-color: lightgreen;
   box-shadow: 2px 2px 4px darkblue;
   
   padding: 0 2px;
   
 }
p{
   color: white;
}
p, a:hover{
    color: gold;
    text-shadow: 2px 2px 10px maroon;
}
h3{
   color: whitesmoke;
   text-shadow: 2px 2px 4px gold;
   margin-bottom: 10px;
}
#user-name{
   color: white;
   text-shadow: 2px 2px 4px gold;
}
body.light h3{
   color: rgba(255, 187, 0, 0.842);
   text-shadow: 2px 2px 2px darkblue;

}
#show-password-recovery{
 color: gold;
 text-shadow: 2px 2px 2px darkblue;
  padding: 10px;
}
#show-email-recovery{
   color: gold;
   text-shadow: 2px 2px 2px darkblue;
}
#show-login{
   border: none;
   padding: 5px;
   background: rgb(26, 26, 192);
   color: white;
   border-radius: 6px;
   cursor: pointer;
}
#show-login:hover{
   background: darkblue;
}
#Recovery-Link-Btn{
   border: none;
   padding: 5px;
   background: rgb(26, 26, 192);
   color: white;
   border-radius: 6px;
   cursor: pointer;
}
#Recovery-Link-Btn:hover{
   background: darkblue;
}
.Email-Recovery-title{
   color: wheat;
   text-shadow: 2px 2px 2px darkblue;
   font-size: 20px;
}
.Recover-Pass-Title{
   margin: 0% auto;
   justify-content: center;
   align-items: center;
   width: 90%;
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 20px;
   box-shadow: 0px 2px 10px darkgray;
}

.Enter-Email{
  margin: 0% auto;
  color: wheat;
  font-size: 20px;
  text-shadow: 1px 1px 2px darkblue;
  border-radius: 6px;
  padding: 10px;
}
#emailRecoveryEmail{
  margin-top: 10px;
  
}

.Recover-Email-btn{
   border: none;
   padding: 5px;
   background: rgb(26, 26, 192);
   color: white;
   border-radius: 6px;
   margin-top: 10px;
   cursor: pointer;
}
.Recover-Email-btn:hover{
   background: darkblue;
}
.Email-Recovery-Main-Title{
   margin: 0% auto;
   justify-content: center;
   align-items: center;
   width: 90%;
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 20px;
   box-shadow: 0px 2px 10px darkgray;
}
.recoveryEmail-css{
   margin-top: 10px;
}
#passwordRecoveryForm{
   max-width: 370px;
   padding: 25px;
   height: 150px;
}
#emailRecoveryForm{
   max-width: 370px;
   padding: 25px;
   height: 150px;
}

@media (min-width: 768px) {
   .login-container {
       margin: 0% auto;
       margin-top: 20px;
       width: 650px;
       padding: 20px;
   }
   #passwordRecoveryForm{
       min-width: 500px;
   }
   .Recover-Pass-Title{
       margin: 0% auto;
       justify-content: center;
       align-items: center;
       width: 600px;
       font-size: 30px;
       margin-top: 10px;
       margin-bottom: 20px;
       box-shadow: 0px 2px 10px darkgray;
   }
   .Email-Recovery-Main-Title{
       margin: 0% auto;
       justify-content: center;
       align-items: center;
       width: 600px;
       font-size: 30px;
       margin-top: 10px;
       margin-bottom: 20px;
       box-shadow: 0px 2px 10px darkgray;
   }
   .register-container {
       margin: 0% auto;
       width: 600px;
       margin-top: 20px;
       
   }
   h1{ 
   margin: 0% auto;
   width: 50%;
   margin-bottom: 15px;
   
    }
   
}

