*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: auto;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   align-items: center;   
   padding: 10px; 
   background: linear-gradient(to right, black,darkblue,maroon,black);
}
body.light{
   background: linear-gradient(to right, black,darkblue,lightgreen,maroon,black);  
}
h1{
   color: wheat;
   text-shadow: 2px 2px 4px darkblue;
   width: 95%;
   font-size: 40px;
   background-color: rgba(0, 0, 0, 0.404);
   border: 5px solid rgba(71, 64, 64, 0.26);
   padding: 5px 10px;
   border-radius: 100%;
   margin-bottom: 10px;
   background-image: url(MusicGig.gif);
   background-position: top;
   background-size: 100%;
   box-shadow: 0px 2px 9px lightskyblue;
   transition: 2s ease-in-out;
}
body.light h1{
   color: white;
   text-shadow: 2px 2px 4px gold; 
   box-shadow: 0px 3px 10px black;
   
}
h1 ion-icon{
   color: rgba(255, 217, 0, 0.63);
   background-image: url(lollipop_3GIF.gif);
   background-position: center;
   background-size: cover;
   border-bottom: 2px solid wheat;
   box-shadow: 0px 2px 2px darkblue;
   border-radius: 50%;
   cursor: pointer;
}
h2{
   color: darkgrey;
   text-shadow: 2px 2px 2px darkblue;
   font-size: 18px;
   background-color: rgba(255, 255, 255, 0.082);
   padding: 10px 20px;
   border-radius: 10px;
   margin: 5px;
   opacity: 90%;
}
body.light h2{
   opacity: 80%;
   color: rgba(255, 217, 0, 0.801);
   background-color: rgba(0, 0, 0, 0.623);
  
}
h2 ion-icon{
   color: rgba(245, 222, 179, 0.61);
}
body.light h2 ion-icon{
   color: rgba(223, 191, 14, 0.664);
   text-shadow: 2px 2px 2px darkblue;
  
}
h3{
   color: darkgray;
   text-shadow: 2px 2px 2px darkblue;
   opacity: 80%;
   font-size: 14px;
}
h3 ion-icon{
   color: rgba(255, 217, 0, 0.644);
  
}
body.light h3{
   opacity: 100%;
}
.container{
   margin: 0% auto;
   width: 100%;
   height: auto;
   padding: 10px;
   border-radius: 40px;
   box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   margin-bottom: 50px;
   margin-top: 5px;
   border: 1px solid rgba(255, 255, 255, 0.555);
   box-shadow: 0px 2px 8px lightskyblue;
   
}
body.light .container{
   box-shadow: 0px 2px 8px black;
   background-image: url(lollipop_3GIF.gif);
   background-position: bottom;
   background-size: 50%;
   transition: 3s ease-in-out;
   background-repeat: no-repeat;
}

.container form{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
  
  
}

.inputBox{
   margin: 0% auto;
   width: 100%;
   margin: 10px 0;
   border-radius: 5px;
   overflow: hidden;
   border-radius: 15px;
}

.inputBox input{
   margin: 0% auto;
   width: 80%;
   padding: 10px;
   border-radius: 10px;
   border: none;
   border: 2px solid lightskyblue;
   box-shadow: 0px 0px 3px lightskyblue;
   font-size: 16px;
   color: white;
}
body.light input{
   border: 2px solid yellow;
   box-shadow: 0px 0px 3px yellowgreen;
}
#emailid{
   margin-bottom: 20px;
}
input:focus{
   color: white;
   text-shadow: 0px 0px 2px gold;
   background-image: url(bonfiregifff.gif);
   background-position: center;
   background-size: 55%;
}
textarea:focus{
   color: white;
   text-shadow: 0px 0px 2px gold;
   background-image: url(bonfiregifff.gif);
   background-position: center;
   background-size: 60%;
   
}



 textarea{
   margin: 0% auto;
   width: 90%;
   height: 100px;
   padding: 10px;
   border-radius: 10px;
   overflow: auto;
   font-size: 16px;
   color: white;
   text-shadow: 0px 0px 1px gold;
   margin-bottom: 20px;
   overflow: auto;
   border: 2px solid lightskyblue;
   box-shadow: 0px 0px 3px lightskyblue;
}
body.light textarea{
   border: 2px solid yellow;
   box-shadow: 0px 0px 3px yellowgreen;
}

button{
   margin: 0% auto;
   width: 250px;    
   padding: 10px;
   border: none;
   background: rgb(17, 17, 212);
   color: #FFF;
   text-shadow: 0px 0px 2px gold;
   border-radius: 20px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
  
   
}
body.light button:hover{
   background: rgb(10, 180, 10);
   
}

button:hover{
   transform: scale(1.10);
   transition: 1s;
   background: rgb(60, 60, 236);
   transition: all 0.3s ease;
}
body.light button{
   background: darkgreen;
}

::placeholder{
   font-size: 16px;
}

.alert{
   width: 60%;
   background: rgba(0, 255, 106, 0.815);
   padding: 10px 20px;
   border-radius: 100%;
   text-align: center;
   color: white;
   text-shadow: 2px 2px 4px gold;
   font-size: 18px;
   font-weight: 900;
   box-shadow: 0px 2px 8px black;
   display: none;
}



footer{
   margin: 0% auto;
   flex-direction: column;
   bottom: 0%;
   left: 0;
   position: fixed;
   align-items: center;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   padding: 5px;
   color: rgb(48, 47, 47);
 
    }
    footer p{
     width: 200px;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.062);
     padding: 5px;
     border-radius: 20px;
    }
    footer ion-icon{
     color: rgba(255, 217, 0, 0.411);
    }
 
    .homebtn{
     margin: 0% auto;
     position: fixed;
     left: 5px;
     bottom: 0px;
     border-bottom: 1px solid gold;
     box-shadow: 0px 2px 6px blue;
     background-image: url(MusicGig.gif);
     background-position: center;
     background-size: 100%;
     border-radius: 7px;
     width: 50px;
     display: flex;
     justify-content: center;
     padding: 2px 0px;
     opacity: 80%;
     margin-bottom: 5px;
     cursor: pointer;
   
   }
   .homebtn ion-icon{
     margin: 0% auto;
     color: rgba(255, 217, 0, 0.568);
     justify-content: center;
     font-size: 25px;
     display: flex;
     align-items: center;
     
   }
   .homebtn ion-icon:hover{
     color: gold;
   }
   .homebtn:hover{
     color: gold;
     transition: color 0.5s ease;
     box-shadow: 2px 2px 20px gold;
     transform: scale(1.10);
     transition: 0.5s;
     cursor: pointer;
   
   }
 


@media (min-width: 768px) {

   h1{
       max-width: 500px;
   }
   textarea{
       max-width: 600px;
       max-height: auto;
   }
   .inputBox input[type="text"], .inputBox input[type="email"], .inputBox input[type="tel"]{
       max-width: 400px;
   }
   #card{
       max-width: 400px;
   }
   .container{
       margin-bottom: 25px;
       border: none;
       box-shadow: none;
   }
   body.light .container{
       box-shadow: none;
   }
}